<small>© Copyright 2023. Dineth and Himaya</small>
<ul>
    <li>
        <a href="https://www.facebook.com/DebatersCouncilSriLanka/" target="_blank">
            <i class="fa fa-facebook-official" title="DebatersCouncilSriLanka"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/debaterscouncil" target="_blank">
            <i class="fa fa-twitter-square" title="@debaterscouncil"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/debaterscouncil/" target="_blank">
            <i class="fa fa-instagram" title="debaterscouncil"></i>
        </a>
    </li>
<!--    debaterscouncil@gmail.com-->
    <li>
        <a href="mailto: debaterscouncil@gmail.com" target="_blank">
            <i class="fa fa-envelope" title="debaterscouncil@gmail.com"></i>
        </a>
    </li>

</ul>
<style>

    .scale-effect {
        animation: scaleEffect 4s;
    }

    @keyframes scaleEffect {
        0% {
            transform: scale(1);
            margin-right: 0; /* Reset the margin */
        }
        50% {
            transform: scale(1.8); /* Customize the scale up value here */
            margin-right: 20px; /* Customize the space between icons here */
        }
        100% {
            transform: scale(1); /* Scale down to original size */
            margin-right: 0; /* Reset the margin */
        }
    }


          /* FOOTER
      –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .page-footer {
        height:50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: var(--main-white-color);
    }

    .page-footer ul {
        display: flex;
        font-size: 1.5rem;
        margin-bottom: 5px;
        list-style: none;
    }

    .page-footer ul li:not(:last-child) {
        margin-right: 20px;
    }

    .fa-instagram{
        color: #e95950;
    }
    .fa-facebook-official{
        color: #3b5998;
    }
    .fa-twitter-square{
        color: #1da1f2;
    }
    .fa-envelope{
        color: #e95950;
    }

    @media screen and (max-width: 768px) {
        .page-footer i{
            font-size: 1rem;
        }
        .page-footer{
            flex-direction: column;
            align-items: center;
            height: 80px;
        }
    }
</style>