<footer class="page-footer">
    <small>© Copyright 2023. Dineth and Himaya</small>
    <ul>
        <li>
            <a href="https://www.facebook.com/DebatersCouncilSriLanka/" target="_blank">
                <i class="fa fa-facebook-official"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/debaterscouncil" target="_blank">
                <i class="fa fa-twitter-square"></i>
            </a>
        </li>
        <li>
            <a href="" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>

    </ul>
</footer>