<nav>
    <h2 class="logo">
        <a href="index.html"> <img id="main-logo" src="../../assets/images/Main logo.svg" alt="logo" class="w-25"> </a>
    </h2>
    <ul>
        <li>
            <a href="">History</a>
        </li>
        <li>
            <a href="">National Team</a>
        </li>
        <li>
            <a href="schools_league.html">Schools League</a>
        <li>
            <a href="calendar.html">Calendar</a>
        </li>
        <li>
            <a href="">Information</a>
        </li>
    </ul>
    <button class="cta-contact">Get in touch</button>
</nav>
