<nav>
    <h2 class="logo">
        <a href="index.html"> <img id="main-logo" src="../../assets/images/Main logo.svg" alt="logo"> </a>
    </h2>
    <ul>
        <li>
            <a href="history.html">History</a>
        </li>
        <li>
            <a href="">National Team</a>
        </li>
        <li>
            <a href="schools_league.html">Schools League</a>
        <li>
            <a href="calendar.html">Calendar</a>
        </li>
        <li>
            <a href="information.html">Information</a>
        </li>
    </ul>
    <br>
    <button class="cta-contact d-inline-block">Get in touch</button>
</nav>

<style>
    /* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .page-header {
        background: var(--main-white-color);
        position:sticky;
        top:0;
        z-index: 2;
        border-bottom: 2px solid black;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .page-header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .page-header ul {
        display: flex;
        order: 1;
        /*width: 100%;*/
        list-style:none;
        margin-top: 15px;
    }

    .page-header ul li:not(:last-child) {
        padding-right: 15px;
    }

    .page-header .cta-contact {
        font-family: inherit;
        font-size: 1.2rem;
        padding: 5px 18px;
        border: 1px solid;
        border-radius: 5px;
    }

    .page-header button {
        background: none;
        outline: none;
        cursor: pointer;
    }


    .page-header a{
        text-decoration: none;
        color: inherit;
    }
    #main-logo{
        width:100px;
    }
</style>
