@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");


:root {
    --main-white-color: #ffffff;
    --main-black-color: black;
    --main-purple-color: #9e89b8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

body {
    font: 16px/1.5 "Dosis", sans-serif;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
    .page-header ul {
        width: auto;
        margin-top: 0;
    }

    .page-header .cta-contact {
        order: 1;
    }

    .page-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page-footer ul {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .page-main {
        padding-left: 90px;
    }
}
