@charset "UTF-8";

h1 {
    margin: 0;
    line-height: 2;
}

h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
}

main {
    padding: 0;
}

.registration-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.registration-container h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    color: #05132f;
    font-weight: 400;
    font-size: 2.4em;
    margin-bottom: 30px;
}

.registration-container .description {
    font-size: 1.03em;
    color: rgb(4, 17, 45);
    margin-bottom: 50px;
    line-height: 1.4em;
    font-weight: 100;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper {
    margin: 0 auto;
    max-width: 75%;
}

.form-wrapper iframe {
    border-radius: 4px;
    border: none;
}

@media screen and (max-width: 768px) {
    .registration-container {
        padding: 30px 20px;
    }

    .registration-container h1 {
        font-size: 2rem;
    }

    .registration-container .description {
        font-size: 1rem;
        max-width: 100%;
    }

    .form-wrapper {
        max-width: 100%;
    }

    .form-wrapper iframe {
        height: 1500px !important;
    }
}

@media screen and (max-width: 550px) {
    .registration-container {
        padding: 20px 15px;
    }

    .registration-container h1 {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
}
