.items {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
}

.item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
}

.items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    z-index: 100;
}
@media (max-width: 768px) {
    /* Apply styles for mobile devices */
    .items .button-container {
        width: 50vh;
    }

    #intro, #winners, #league-table {
        padding:0 !important;
        margin : 0 !important;
    }
    .web-view{
        display: none;
    }
    .rank{
        width: 10px !important;
    }
    td {
        min-width: 10px !important;
    }
    th {
        min-width: 10px !important;
    }
    #winners{
        overflow: hidden;
    }
}

.button-container .button {
    color: #e30808;
    font-size: 50px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
}

.button-container .button:hover {
    opacity: 1;
}

.button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    /*background-color: rgba(0, 0, 0, 1);*/
    border-radius: 50%;
    z-index: -99;
}

.button-container .button:nth-child(1) {
    float: left;
}

.button-container .button:nth-child(2) {
    float: right;
}

#pic-title{
    /*center text*/
    text-align: center;
    position:absolute;
    bottom:20px;
}

#intro, #winners, #league-table {
    backdrop-filter: blur(0px);

}

table {
    text-align: center;
    height: inherit;
}

td, th {
    border: 1px solid white;
    min-width: 150px;
    padding: 8px !important;
}

td {
    font-size: 15px;
}

th {
    color: white;
    background-color: black;
}

main {
    padding: 0;
}

#league-table td:nth-child(2) {
    min-width: 311px;
}

#league-table td:nth-child(1) {
    width: 30px;
}

#winners {
    height: 500px;
}
